@using PORTALJAGUARAO.Models;

@model Funcionario

@{
    ViewBag.Title = "Cadastro";
}

<body>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
                $("#celular").inputmask("mask", { "mask": "(99) 99999-99999" });
                $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                $("#cpf1").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                $("#cep").inputmask("mask", { "mask": "99999-999" });
                $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento1").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento2").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento3").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento4").inputmask("mask", { "mask": "99/99/9999" });
                $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
                $("#valorgratificacao").inputmask("mask", { "mask": "R$ #.##9,99" }, { reverse: true });
                $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
            });
        </script>
    @Scripts.Render("~/bundles/jqueryval")

    


    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Details?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })


    </script>

    <script type="text/javascript">
            $('#Conjugenovo').click(function () {

                var url = "/cadastrodefuncionario/CadastrodeConjuge";
                var nome = $("#nomeconjuge").val();
                var cpf = $("#cpf1").val();
                var datanascimento = $("#nascimento4").val();
                var cpffun = $("#cpf").val();

                $.post(url, { Nome: nome, Cpf: cpf, DataNascimento: datanascimento, cpffuncionario: cpffun }, function (data) {
                    $("#msg").html(data);

                });
            })
    </script>

    <script type="text/javascript">
            $('#SalvarGratificacao').click(function () {

                var url = "/cadastrodefuncionario/CadastroFinanceiro";               
                var cpf = $("#cpf1").val();
                var nome = $("#nomegratificacao").val();
                var valor = $("#valorgratificacao").val();

                $.post(url, { Descricao: nome, Cpf: cpf, Valor:valor }, function (data) {
                    $("#msg").html(data);

                });
            })
    </script>


    

    <script type="text/javascript">
            $('#IncluirFilho').click(function () {

                var url = "/cadastrodefuncionario/IncluirFilho";
                var cpf = $("#cpf").val();
                var cpffilho = $("#cpffilho").val();
                var nome = $("#nomefilho").val();
                var datanas = $("#datanascimentofilho").val();

                $.post(url, { Cpf: cpf, cpffilho: cpffilho, nomefilho: nome, dtnascimento: datanas }, function (data) {
                    $("#msg").html(data);

                });
            })
    </script>

    <script type="text/javascript">
            $('#pesquisar').focusout(function () {

                 var url = "/cadastrodefuncionario/Buscar";
                 var cpf = $("#cpf").val();          

                 $.get(url, { Cpf: cpf }, function (data) {
                     var obj = JSON.parse(data);
                     console.log(obj)
                     document.getElementById('nomefunc').value = obj.Nome
                     document.getElementById('cpf').value = obj.cpf
                     document.getElementById('datadmissao').value = obj.DataAdmissao
                     document.getElementById('sexo').value = obj.Sexo
                     documento.getElementById('dataemissaoci').value = obj.Dataemissaoci
                     document.getElementById('datanascimento').value = obj.DataNascimento
                     document.getElementById('Ci').value=obj.Ci

                    

                     

                 });
             })
    </script>

    }

    <script src="~/Content/JSSITE/VALIDACAOCPFCNPJ.js"></script>
    

    



    










    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">

       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <a href="#" class="navbar-brand">
                   <img src="~/Content/IMG/logo.jpg" style=" width:30px; height:auto " class="d-inline-block" /> 
                </a>
                <ul class="nav navbar-nav">                    
                    <li>@Html.ActionLink("Cadastro de funcionario", "Cadastro", "Portal")</li>
                    <li>@Html.ActionLink("Exames Periodicos", "Exame", "Portal")</li>
                    <li>@Html.ActionLink("Justificativa de ponto", "Justificativa", "Portal")</li>
                    <li>@Html.ActionLink("Hora extra", "horaextra", "Portal")</li>
                    <li>@Html.ActionLink("Férias", "Ferias", "ControledeFerias")</li>
                    <li>@Html.ActionLink("Contra cheque", "ContreleFolhaPagamento", "ContraCheque")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Documentos internos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pop´s", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Codigo de etica", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Codigo de conduta", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Organograma", "Contact", "Home")</li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <br />
    <br />
    <div class="container">

        @using (Html.BeginForm("CadastrarNovoFuncionario", "CadastrodeFuncionario", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
           
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="row">

                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Funcionario</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Cpf)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Cpf, new { @class = "form-control", id = "cpf" })
                                        <div class="col-sm-2">
                                            <input type="button" class="btn success" id="pesquisar" value="Buscar"/>
                                        </div>
                                        @Html.ValidationMessageFor(Cliente => Cliente.Cpf)
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(Funcionario => Funcionario.Nome)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Nome, new { @class = "form-control",id="nomefunc" })
                                        @Html.ValidationMessageFor(Funcionario => Funcionario.Nome)
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.DataAdmissao)
                                        @Html.TextBoxFor(Funcionario => Funcionario.DataAdmissao, new { @class = "form-control",  id = "datadmissao" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.DataDemissao)
                                        @Html.TextBoxFor(Funcionario => Funcionario.DataDemissao, new { @class = "form-control", id = "datademissao" })
                                    </div>
                                    <div class="col-lg-2">
                                        @{
                                            List<SelectListItem> sexo = new List<SelectListItem>();

                                            sexo.Add(new SelectListItem
                                            {
                                                Text = "M",
                                                Value = "Masculino"

                                            });
                                            sexo.Add(new SelectListItem
                                            {
                                                Text = "F",
                                                Value = "Feminino"

                                            });
                                        }
                                        @Html.LabelFor(Funcionario => Funcionario.Sexo)
                                        @Html.DropDownListFor(Funcionario => Funcionario.Sexo, sexo, "Selecione...", new { @class = "form-control",id="sexo" })


                                    </div>

                                </div>
                                <br />
                                <div class="row">

                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.DataEmissaoci)
                                        @Html.TextBoxFor(Funcionario => Funcionario.DataEmissaoci, new { @class = "form-control", id = "dataemissaoci" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.DataNascimento)
                                        @Html.TextBoxFor(Funcionario => Funcionario.DataNascimento, new { @class = "form-control", id = "datanascimento" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Ci)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Ci, new { @class = "form-control",id="Ci" })
                                    </div>



                                    <div class="col-lg-2">
                                        @{
                                            List<SelectListItem> setor = new List<SelectListItem>();

                                            setor.Add(new SelectListItem
                                            {
                                                Text = "Finaceiro | TI",
                                                Value = "Finaceiro | TI"

                                            });
                                            setor.Add(new SelectListItem
                                            {
                                                Text = "Arquivamneto | Revisão | Certidão",
                                                Value = "Arquivamento"

                                            });
                                        }
                                        @Html.LabelFor(Funcionario => Funcionario.Setor)
                                        @Html.DropDownListFor(Funcionario => Funcionario.Setor, setor, "Selecione...", new { @class = "form-control" })


                                    </div>
                                    <div class="col-lg-2">
                                        @{
                                            List<SelectListItem> EstadoCivil = new List<SelectListItem>();

                                            EstadoCivil.Add(new SelectListItem
                                            {
                                                Text = "Solteiro",
                                                Value = "solteiro"

                                            });
                                            EstadoCivil.Add(new SelectListItem
                                            {
                                                Text = "Divorciado",
                                                Value = "Divorciado"

                                            });
                                            EstadoCivil.Add(new SelectListItem
                                            {
                                                Text = "Casado",
                                                Value = "Casado"

                                            });
                                        }
                                        @Html.LabelFor(Funcionario => Funcionario.EstadoCivil)
                                        @Html.DropDownListFor(Funcionario => Funcionario.EstadoCivil, EstadoCivil, "Selecione...", new { @class = "form-control",id="estadocivil" })



                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(Funcionario => Funcionario.NomePai)
                                        @Html.TextBoxFor(Funcionario => Funcionario.NomePai, new { @class = "form-control",id="nomepai" })
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(Funcionario => Funcionario.NomeMae)
                                        @Html.TextBoxFor(Funcionario => Funcionario.NomeMae, new { @class = "form-control",id="nomemae" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.NumeroPis)
                                        @Html.TextBoxFor(Funcionario => Funcionario.NumeroPis, new { @class = "form-control",id="numeropis" })
                                    </div>
                                    <div class="col-lg-2">
                                        @{
                                            List<SelectListItem> Cargo = new List<SelectListItem>();

                                            Cargo.Add(new SelectListItem
                                            {
                                                Text = "M",
                                                Value = "Masculino"

                                            });
                                            Cargo.Add(new SelectListItem
                                            {
                                                Text = "F",
                                                Value = "Feminino"

                                            });
                                        }
                                        @Html.LabelFor(Funcionario => Funcionario.Cargo)
                                        @Html.DropDownListFor(Funcionario => Funcionario.Cargo, Cargo, "Selecione...", new { @class = "form-control" ,id="cargo"})


                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(Funcionario => Funcionario.Ctps)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Ctps, new { @class = "form-control",id="ctps" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Serie)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Serie, new { @class = "form-control",id="serie" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.TituloEleitor)
                                        @Html.TextBoxFor(Funcionario => Funcionario.TituloEleitor, new { @class = "form-control",id="tituloeleitor" })
                                    </div>


                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(Funcionario => Funcionario.Cep)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Cep, new { @class = "form-control", id = "cep" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Endereco)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Endereco, new { @class = "form-control" ,id="endereco"})
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Bairro)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Bairro, new { @class = "form-control",id="bairro" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Cidade)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Cidade, new { @class = "form-control",id="cidade" })
                                    </div>
                                    <div class="col-sm-2">
                                        @{
                                            List<SelectListItem> UF = new List<SelectListItem>();

                                            UF.Add(new SelectListItem
                                            {
                                                Text = "Minas Gerais",
                                                Value = "MG"

                                            });
                                            UF.Add(new SelectListItem
                                            {
                                                Text = "SP",
                                                Value = "SP"

                                            });
                                        }
                                        @Html.LabelFor(Funcionario => Funcionario.UF)
                                        @Html.DropDownListFor(Funcionario => Funcionario.UF, UF, "Selecione...", new { @class = "form-control" ,id="uf"})
                                    </div>


                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(Funcionario => Funcionario.Naturalidade)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Naturalidade, new { @class = "form-control" ,id="naturalidade"})
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Telefone)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Telefone, new { @class = "form-control", id = "telefone" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Celular)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Celular, new { @class = "form-control", id = "celular" })
                                    </div>
                                    <div class="col-sm-2">
                                        @{
                                            List<SelectListItem> escolaridade = new List<SelectListItem>();

                                            escolaridade.Add(new SelectListItem
                                            {
                                                Text = "Minas Gerais",
                                                Value = "MG"

                                            });
                                            escolaridade.Add(new SelectListItem
                                            {
                                                Text = "SP",
                                                Value = "SP"

                                            });
                                        }
                                        @Html.LabelFor(Funcionario => Funcionario.Escolaridade)
                                        @Html.DropDownListFor(Funcionario => Funcionario.Escolaridade, escolaridade, "Selecione...", new { @class = "form-control",id="escolaridade" })
                                    </div>


                                </div>

                                <br />
                                <div class="row">
                                    <div class=" col-lg-2">
                                        <input type="submit" class="btn btn-success"  value="Cadastrar" />
                                    </div>
                                </div>
                            </div>
                            <br />


                        </div>
                    </div>
                    


                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Conjuge</div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Conjuge.Nome)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Conjuge.Nome, new { @class = "form-control",id="nomeconjuge" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Conjuge.Cpf)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Conjuge.Cpf, new { @class = "form-control", id = "cpf1" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.Conjuge.DatadeNascimento)
                                        @Html.TextBoxFor(Funcionario => Funcionario.Conjuge.DatadeNascimento, new { @class = "form-control", id = "nascimento4" })
                                    </div>
        
                                   

                                </div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="button" class="btn btn-success" value="InserirConjuge" id="Conjugenovo" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Login</div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.senha)
                                        @Html.TextBoxFor(Funcionario => Funcionario.senha,  new { @class = "form-control", @type ="password" })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.LabelFor(Funcionario => Funcionario.resenha)
                                        @Html.TextBoxFor(Funcionario => Funcionario.resenha, new { @class = "form-control", id = "cpf1", @type = "password" })
                                    </div>
                                   

                                </div>



                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Arquivos</div>
                            <div class="panel-body">

                                <div class="row">

                                    <input type="file" class="btn btn-primary" value="Selecionar" />



                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Observações</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.TextAreaFor(Funcionario => Funcionario.observacao, new { @class = "form-control", cols = "300", rows = "5" })
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">

                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Dados Financeiros</div>
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Valor</th>


                                    </tr>

                                    <tbody>




                                        <tr>
                                            <td>Gratificação de Função</td>
                                            <td>1500.00</td>


                                        </tr>




                                    </tbody>
                                </table>

                                <a class="btn btn-success" data-toggle="modal" data-target=".Gratificacao"> <span class="glyphicon glyphicon-user glyphicon glyphicon-plus-sign"></span> Adicionar</a>
                            </div>

                            <!-- Table -->



                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">Filhos</div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <th>Nome</th>


                                            </tr>

                                            <tbody>




                                                <tr>
                                                    <td>Sem filhos</td>
                                                </tr>




                                            </tbody>
                                        </table>

                                       <a class="btn btn-success" data-toggle="modal" data-target=".filho"> <span class="glyphicon glyphicon-user glyphicon glyphicon-plus-sign"></span> Adicionar</a>
                                    </div>

                                    <!-- Table -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







            <div class="modal fade Gratificacao" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Incluir</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("", "", ""))
                            {
                                <div class="row">



                                    <div class="col-lg-4">
                                        @Html.LabelFor(Funcionario => Funcionario.gratificacao.NomedaGratificacao)
                                        @Html.TextBoxFor(Funcionario => Funcionario.gratificacao.NomedaGratificacao, new { @class = "form-control",id="nomegratificacao"})
                                    </div>

                                    <div class="col-lg-4">
                                        @Html.LabelFor(Funcionario => Funcionario.gratificacao.valor)
                                        @Html.TextBoxFor(Funcionario => Funcionario.gratificacao.valor, new { @class = "form-control", id = "valorgratificacao" })
                                    </div>

                                    


                                </div>



                            }


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" id="SalvarGratificacao" class="btn btn-primary">Salvar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>


        <div class="modal fade filho" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Incluir</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("", "", ""))
                        {
                            <div class="row">
                                

                                       
                                            <div class="col-lg-6">
                                                @Html.LabelFor(Funcionario => Funcionario.filho.Nome)
                                                @Html.TextBoxFor(Funcionario => Funcionario.filho.Nome, new { @class="form-control", id="nomefilho"})
                                            </div>
                                            
                                                <div class="col-lg-4">
                                                    @Html.LabelFor(Funcionario => Funcionario.filho.cpf)
                                                    @Html.TextBoxFor(Funcionario => Funcionario.filho.cpf, new { @class = "form-control", id="cpffilho" })
                                                </div>
                                            
                                       <br />
                                            <div class="col-lg-4">
                                                @Html.LabelFor(Funcionario => Funcionario.filho.DatadeNascimento)
                                                @Html.TextBoxFor(Funcionario => Funcionario.filho.DatadeNascimento, new { @class = "form-control", id="datanascimentofilho" })
                                            </div>
                                      

                                        </div>
                                 


                        }


                    </div>
                    <div class="modal-footer">
                        <button type="button"class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button"  id="IncluirFilho" class="btn btn-primary">Salvar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <div class="row">

            <div class="col-lg-2">

                
            </div>
        </div>















                                            }



   






    </div>







