@using PORTALJAGUARAO.Models;

@model ContraCheque



@{
    ViewBag.Title = "ContreleFolhaPagamento";
}

@section Scripts {
    <script>
            $(document).ready(function () {
                $("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
                $("#celular").inputmask("mask", { "mask": "(99) 99999-99999" });
                $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                $("#cpf1").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                $("#cep").inputmask("mask", { "mask": "99999-999" });
                $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento1").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento2").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento3").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento4").inputmask("mask", { "mask": "99/99/9999" });
                $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
                $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
                $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
            });
    </script>
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <a href="#" class="navbar-brand">
                <img src="~/Content/IMG/logo.jpg" style=" width:30px; height:auto " class="d-inline-block" />
            </a>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cadastro de funcionario", "Cadastro", "Portal")</li>
                <li>@Html.ActionLink("Exames Periodicos", "Exame", "Portal")</li>
                <li>@Html.ActionLink("Justificativa de ponto", "Justificativa", "Portal")</li>
                <li>@Html.ActionLink("Hora extra", "horaextra", "Portal")</li>
                <li>@Html.ActionLink("Férias", "Ferias", "ControledeFerias")</li>
                <li>@Html.ActionLink("Contra cheque", "ContreleFolhaPagamento", "ContraCheque")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Documentos internos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Pop´s", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Codigo de etica", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Codigo de conduta", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Organograma", "Contact", "Home")</li>
                    </ul>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

@using (@Html.BeginForm("ExamePeriodicos2", "ExamePeriodico", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <br />
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">Folha de pagamento</div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-4">

                                @{List<SelectListItem> NomeFuncionarios = new List<SelectListItem>();

                                    NomeFuncionarios.Add(new SelectListItem
                                    {

                                        Value = "Igor Baesse",
                                        Text = "Igor Baesse",
                                    });


                                }


                                @Html.LabelFor(ContraCheque => ContraCheque.Funcionario)
                                @Html.DropDownListFor(ContraCheque => ContraCheque.Funcionario, NomeFuncionarios, "Selecione", new { @class = "form-control" })
                            </div>
                            <div></div>
                        
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-lg-2">
                                @Html.LabelFor(ContraCheque => ContraCheque.Periodo)
                                @Html.TextBoxFor(ContraCheque => ContraCheque.Periodo, new { @class = "form-control" ,id="nascimento"})
                            </div>
                            
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="file" class="btn btn-primary" value="Selecione.." />

                            </div>
                        </div>
                        
                        <br />
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="submit" class="btn btn-primary" value="Cadastrar" />

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>


}

