@using PORTALJAGUARAO.Models;

@model Justificativa



@{
    ViewBag.Title = "Justificativa";
}

<body>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#telefone").inputmask("mask", { "mask": "(99) 9999-99999" });
                $("#celular").inputmask("mask", { "mask": "(99) 99999-99999" });
                $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                $("#cpf1").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
                $("#cep").inputmask("mask", { "mask": "99999-999" });
                $("#nascimento").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento1").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento2").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento3").inputmask("mask", { "mask": "99/99/9999" });
                $("#nascimento4").inputmask("mask", { "mask": "99/99/9999" });
                $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
                $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
                $("#ip").inputmask("mask", { "mask": "999.999.999.999" });
                $("#hora1").inputmask("mask", { "mask": "99:99" });
                $("#hora2").inputmask("mask", { "mask": "99:99" });
                $("#hora3").inputmask("mask", { "mask": "99:99" });
                $("#hora4").inputmask("mask", { "mask": "99:99" });
                $("#hora5").inputmask("mask", { "mask": "99:99" });

            });
        </script>
    }


   

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <a href="#" class="navbar-brand">
                    <img src="~/Content/IMG/logo.jpg" style=" width:30px; height:auto " class="d-inline-block" />
                </a>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cadastro de funcionario", "Cadastro", "Portal")</li>
                    <li>@Html.ActionLink("Exames Periodicos", "Exame", "Portal")</li>
                    <li>@Html.ActionLink("Justificativa de ponto", "Justificativa", "Portal")</li>
                    <li>@Html.ActionLink("Hora extra", "horaextra", "Portal")</li>
                    <li>@Html.ActionLink("Férias", "Ferias", "ControledeFerias")</li>
                    <li>@Html.ActionLink("Contra cheque", "ContreleFolhaPagamento", "ContraCheque")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Documentos internos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Pop´s", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Codigo de etica", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Codigo de conduta", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Organograma", "Contact", "Home")</li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <br />
   
           




    @using (@Html.BeginForm("Cadastrar", "JustificativadePonto", FormMethod.Post))
    {
        <div class="col-lg-1"> </div>
        <div class="col-lg-10">

            <div class="row">

                <div class="panel panel-primary">
                    <div class="panel-heading">Colaborador</div>
                    <div class="panel-body">
                        <div class="col-lg-2">
                            @Html.LabelFor(Justificativa => Justificativa.DataOcorrencia)
                            @Html.TextBoxFor(Justificativa => Justificativa.DataOcorrencia, new { @class = "form-control",id="nascimento" })
                        </div>
                        <div class="col-lg-3">

                            @{List<SelectListItem> NomeFuncionarios = new List<SelectListItem>();

                                NomeFuncionarios.Add(new SelectListItem
                                {

                                    Value = "Igor Baesse",
                                    Text = "Igor Baesse",
                                });


                            }


                            @Html.LabelFor(Justificativa => Justificativa.NomeColaborador)
                            @Html.DropDownListFor(Justificativa => Justificativa.NomeColaborador, NomeFuncionarios, "Selecione", new { @class = "form-control" })
                        </div>
                    </div>

                </div>

            </div>
            <br />

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Motivo</div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-4">

                                @Html.CheckBox("Pessoal", new { @class = "Form-control", }) Pessoal

                            </div>
                        </div>
                        <div class="row">


                            <div class="col-lg-4">

                                @Html.CheckBox("Pessoal", new { @class = "Form-control", }) Problema Técnico no ponto eletronico

                            </div>
                        </div>
                        <div class="row">


                            <div class="col-lg-4">

                                @Html.CheckBox("Pessoal", new { @class = "Form-control", }) Atestado médico

                            </div>
                        </div>
                        <div class="row">


                            <div class="col-lg-4">

                                @Html.CheckBox("Pessoal", new { @class = "Form-control", }) Serviços Externos

                            </div>
                        </div>
                        <div class="row">


                            <div class="col-lg-4">

                                @Html.CheckBox("Pessoal", new { @class = "Form-control", }) Visita Para Captação de Clientes

                            </div>
                        </div>
                        <div class="row">


                            <div class="col-lg-4">

                                @Html.CheckBox("Pessoal", new { @class = "Form-control", }) Reunião e Cursos

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <br />
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Justificativa</div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-10">

                                @Html.TextAreaFor(Justificativa => Justificativa.DescJustificativa, new { @class = "Form-control", rows = 4, cols = 200 })

                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <br />

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Abonado ?</div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-10">

                                @Html.CheckBox("Abono", new { @class = "Form-control" }) Sim

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-10">

                                @Html.CheckBox("Abono", new { @class = "Form-control" }) Não

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Arquivo</div>
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-lg-2">

                                <input type="file" class="form-control" />

                            </div>
                        </div>
                        <br />

                        <div class="row">

                            <div class="col-lg-2">

                                <input type="submit" class="btn btn-primary " value="Cadastrar" />

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    }

























            </body>